<h2> Genres </h2>

<div class='tags_genres'>
<h3>Popular genres</h3>
<%= cloud(Genre.find(:all, :limit => 10)) %>
</div>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for genre in @genres %>
    <tr>
      <td><%=h genre.name %></td>
      <td><%= link_to "Show", genre %></td>
      <td><%= link_to "Edit", edit_genre_path(genre) %></td>
      <td><%= link_to "Destroy", genre, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>



<p><%= link_to "New Genre", new_genre_path %></p>

