<h2> Users </h2>

<table>
  <tr>
    <th>Name</th>
    <th>Location</th>
  </tr>
  <% for user in @users %>
    <tr>
      <td><%=h user.name %></td>
      <td><%=h user.location %></td>
      <td><%= link_to "Show", user %></td>
        <% if logged_in? %>
        <% if user != @current_user && !@current_user.friends.include?(user)%>
      <td><%= link_to 'Add friend', friendships_path(:friend_id => user), :method => :post %></td>
        <% end %>
           <% if @current_user.id == user.id %>
      <td><%= link_to "Edit", edit_user_path(user) %></td>
      <td><%= link_to "Destroy", user, :confirm => 'Are you sure?', :method => :delete %></td>
           <% end %>
           <% end %>
    </tr>
  <% end %>
</table>

<p><%= link_to "New User", new_user_path %></p>

