<h2> User </h2>

<p>
  <strong>Login:</strong>
  <%=h @user.login %>
</p>
<p>
  <strong>Password:</strong>
  <%=h @user.password %>
</p>
<p>
  <strong>Name:</strong>
  <%=h @user.name %>
</p>
<p>
  <strong>Email:</strong>
  <%=h @user.email %>
</p>
<p>
  <strong>Location:</strong>
  <%=h @user.location %>
</p>

<p>
  <%= link_to "Edit", edit_user_path(@user) %> |
  <%= link_to "Destroy", @user, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", users_path %>
</p>

