<h2> User </h2>

<% if logged_in? %>
        <% if @user.id == @current_user.id %>
<p>
  <strong>Login:</strong>
  <%=h @user.login %>
</p>
<p>
  <strong>Password:</strong>
  <%=h @user.password %>
</p>
<p>
  <strong>Email:</strong>
  <%=h @user.email %>
</p>
<% end %>
    <% end %>
<p>
  <strong>Name:</strong>
  <%=h @user.name %>
</p>
<p>
  <strong>Location:</strong>
  <%=h @user.location %>
</p>

<p>
    <%= render :partial => 'books', :object => @books %>
</p>
<p>
    <%= render :partial => 'friends' %>
</p>
<p>
    <%= render :partial => 'friended' %>
</p>
<p>
    <%= render :partial => 'read' %>
</p>
<p>
    <% if logged_in? %>
        <% if @user.id == @current_user.id %>
  <%= link_to "Edit", edit_user_path(@user) %> |
  <%= link_to "Destroy", @user, :confirm => 'Are you sure?', :method => :delete %> |
    <% end %>
        <% end %>

  <%= link_to "View All Users", users_path %> <%= link_to 'Back', :back %>
</p>

