<% form_for @book do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :author %><br />
    <% if @authors && !@authors.empty? %>
    <% for author in @authors %>
      <div>
        <%= check_box_tag "book[author_ids][]", author.id, @book.authors.include?(author) %>
        <%= author.name %>
      </div>
    <% end %>
    <% end %>
  </p>
  <p>
    <%= f.label :published_year %><br />
    <%= f.text_field :published_year %>
  </p>
  <p>
    <%= f.label :genre %>
    <% if @genres && !@genres.empty? %>
    <% for genre in @genres %>
      <div>
        <%= check_box_tag "book[genre_ids][]", genre.id, @book.genres.include?(genre) %>
        <%= genre.name %>
      </div>
    <% end %>
    <% end %>
  </p>
  <p>
    <%= f.label :isbn %><br />
    <%= f.text_field :isbn %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>

