<h2> Books </h2>



    <div id='books'>

    <% form_tag books_path, :method => 'get'  do  %>
        <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag 'Search', :name => nil %>
        </p>
    <% end %>

    <% if @books.size > 0 -%>
        <table>
            <tr>

                <th>Title</th>
                <th>Author</th>
                <th>Published Year</th>
                <th>Genre</th>
                <th>Isbn</th>
                <th>Description</th>
                <th>Added by</th>
                <th>Number of readers</th>
            </tr>

     <%= render :partial => 'book', :collection => @books %>

    </table>

    <% else %>
    <%= render :text => "No results found" %>
    <% end %>
    </div>

<p><%= link_to "New Book", new_book_path %></p>

