<h2> Books </h2>

<table>
  <tr>

    <th>Title</th>
    <th>Author</th>
    <th>Published Year</th>
    <th>Genre</th>
    <th>Isbn</th>
    <th>Description</th>
    <th>Added by</th>
  </tr>
  <% for book in @books %>
    <tr>

      <td><%= link_to book.title, book %></td>
      <td><%=h book.author %></td>
      <td><%=h book.published_year %></td>
      <td><%=h book.genre %></td>
      <td><%=h book.isbn %></td>
      <td><%=h truncate(book.description.to_s, 30) %></td>
      <td><%= link_to book.user.login, user_path(book.user_id) %></td>

      <td><%= link_to "Show", book %></td>
        <% if logged_in? %>
          <% if @current_user.id == book.user.id %>
      <td><em><%= link_to "Edit", edit_book_path(book) %></em></td>
      <td><em><%= link_to "Destroy", book, :confirm => 'Are you sure?', :method => :delete %></em></td>
            <% end %>
           <% end %>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Book", new_book_path %></p>

