<h2> Book </h2>

<p>
  <strong>Title:</strong>
  <%=h @book.title %>
</p>
<p>
  <strong>Author:</strong>
  <%=h @book.author %>
</p>
<p>
  <strong>Published Year:</strong>
  <%=h @book.published_year %>
</p>
<p>
  <strong>Genre:</strong>
  <%=h @book.genre %>
</p>
<p>
  <strong>Isbn:</strong>
  <%=h @book.isbn %>
</p>
<p>
  <strong>Description:</strong>
  <%=h @book.description %>
</p>
<p>
  <strong>Added by:</strong>
  <%=h @book.user.login %>
</p>
<p>
  <%= link_to "Edit", edit_book_path(@book) %> |
  <%= link_to "Destroy", @book, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", books_path %>
</p>

