<h2> Book </h2>

<p>
  <strong>Title:</strong>
  <%=h @book.title %>
</p>
<p>
  <strong>Author:</strong>
  <% if @authors && !@authors.empty? %>
  <%= @authors.map {|author| link_to author.name, author}.compact.join(' , ') %>
  <% end %>
</p>
<p>
  <strong>Published Year:</strong>
  <%=h @book.published_year %>
</p>
<p>
  <strong>Genre:</strong>
  <% if @genres && !@genres.empty? %>
  <%=h @genres %>
  <% end %>
</p>
<p>
  <strong>Isbn:</strong>
  <%=h @book.isbn %>
</p>
<p>
  <strong>Description:</strong>
  <%=h @book.description %>
</p>
<p class="added_by">
  <strong>Added by:</strong>
  <span><%= link_to @book.user.login, user_path(@book.user_id) %></span>
    <% if logged_in? %>
    <% if @book.user != @current_user && !@current_user.friends.include?(@book.user)%>
  <%= link_to 'Add friend', friendships_path(:friend_id => @book.user_id), :method => :post %>
    <% end %>
</p>
<p>
    <% if !@current_user.reads.include?(@book)%>
  <%= link_to 'I have read it', readings_path(:read_id => @book.id), :method => :post %>
    <% end %>
</p>
<p><%= link_to "New Review", new_review_path(:book_id => @book.id) %></p>
<p>

        <% if @current_user.id == @book.user.id %>
  <%= link_to "Edit", edit_book_path(@book) %> |
  <%= link_to "Destroy", @book, :confirm => 'Are you sure?', :method => :delete %> |
    <% end %>
        <% end %>
  <%= link_to "View All", books_path %> <%= link_to 'Back', :back %>
</p>

